version: "3.9"

services:
  web:
    build: .
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - media_data:/app/media   # Persist media uploads
    networks:
      - coolify

networks:
  coolify:
    external: true

volumes:
  media_data:
